* {
	box-sizing: border-box;
}

:root{
    --width-cont: 1000px;
}

body{
    background-color: lightgreen;
}

#mainCont{
    display: flex;
    max-width: var(--width-cont);
    flex-wrap: wrap;
    /* justify-content: right; */
    border: 1px solid red;
    margin: 20px;
    transition: flex-basis 1s linear; 
}

.selekt{
    display: flex;
    justify-content: center; 
    flex: 1; 
    /* border: 1px green solid; */
    padding: 5px;
}

.userPane{
    flex: 1 1 300px;
    border: 1px solid black;
    /* min-height: 700px; */
    /* justify-content: center;
    align-items: center; */
}

.fieldPane{
    display: flex;
    flex: 2 1 360px;
    flex-flow: column;
    background: url(img/pitch2.png) no-repeat center;
    min-height: 700px;
    transition: flex-basis 1s linear; 
}

.fieldPosition{
    display: flex;
    flex: 1;
}

.detalPosition{
    display: flex;
    /* border: darkblue 1px solid; */
    flex: 1;
    align-items: center;
    justify-content: right;
    font-weight: bold;	
}

.player{
    display: flex; 
    justify-content: center;
    flex: 1;
}

input[type=text]{
    width: 70px;
    text-align: center; 
}

p{
    flex: 1;
    text-align: center; 
}

select[name="Tactic"]{
    flex: 1;
    text-align: center;
    border: green solid 1px;
}